@import '../../../style/variables.less';

@button-prefix-name: button;
@button-primary-color: @primary-color;
@button-normal-padding: @box-padding-mini-size @box-padding-xs-size;
@button-bg-color: @white-8;
@button-radius: @box-radius;