@import './colors.less';

@theme: variable;

// The prefix to use on all css classes from ant.
@meson-prefix: meson;

// An override for the html selector for theme prefixes
@html-selector: html;

// -------- Colors -----------
// >>> Primary
@primary-color: @brand-6;
@box-padding-mini-size: 4px;
@box-padding-xs-size: 8px;
@box-padding-s-size: 12px;
@box-padding-sm-size: 16px;
@box-padding-md-size: 20px;
@box-padding-lg-size: 24px;
@box-radius: 4px;
@box-border-regular-width: 1px;
@box-shadow-light-color: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
@box-shadow-dark-color: 0px 2px 16px 0px rgba(0, 0, 0, 0.24);